<!-- <div>
    <ol class = "conteudo">
        
        <li><img src ="./imgs/dr_house.webp"></li>
    </ol>
</div> -->
''
<h2>Titulo</h2>
<div class="div_slider">
       <ol class="conteudos_list">
        
        <li>
            <a href="https://www.youtube.com/watch?v=2eSDNpCR13A"><img src ="./imgs/dr_house.webp"></a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=2eSDNpCR13A"><img src ="./imgs/dr_house.webp"></a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=2eSDNpCR13A"><img src ="./imgs/dr_house.webp"></a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=2eSDNpCR13A"><img src ="./imgs/dr_house.webp"></a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=2eSDNpCR13A"><img src ="./imgs/dr_house.webp"></a>
        </li>
        
        
        <button class="fa-solid fa-caret-right"></button>
        
        <li>
            <a href="https://www.youtube.com/watch?v=2eSDNpCR13A"><img src ="./imgs/dr_house.webp"></a>
        </li>
        
        </ol> 
   
</div>