
<div class="div_slider">
    <h2>{{titulo}}</h2>
       <ol class="conteudos_list">
        
        <li>
            <a href="https://www.youtube.com/shorts/KUM2p2Weicg"><img src ="./imgs/dr_house.webp"></a>
        </li>
        <li>
            <a href="https://www.youtube.com/shorts/KUM2p2Weicg"><img src ="./imgs/dexter.webp"></a>
        </li>
        <li>
            <a href="https://www.youtube.com/shorts/KUM2p2Weicg"><img src ="./imgs/prison_break.webp"></a>
        </li>
        <li>
            <a href="https://www.youtube.com/shorts/KUM2p2Weicg"><img src ="./imgs/jojo_golden_windy.jpg"></a>
        </li>
        <li>
            <a href="https://www.youtube.com/shorts/KUM2p2Weicg"><img src ="./imgs/broulkyn_99.webp"></a>
        </li>
        <span>

             <button>
                <i class="fa-solid fa-caret-right"></i>
            </button>
           
        </span>
        
        <li>
            <a href="https://www.youtube.com/shorts/KUM2p2Weicg"><img src ="./imgs/one_piece_live_action.jpg"></a>
        </li>
        
        </ol> 
   
</div>