
<div class = "menu-card">
    
     <div class= "card-left">
        <img class="logo-netflix" src="./imgs/netflix-logo.png">
        <a>Inicio</a>
        <a>Séries</a>
        <a>Filmes</a>
        <a>Bombando</a>
        <a>Minha Lista</a>
        <a>Navegar por idiomas</a>
    </div>
    <div class = "card-right">
        <button onclick = "window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <i id = "search_icon" class="fa-solid fa-magnifying-glass"></i>
        </button>
        <a>Infantil</a>
        
        <button onclick = "window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <i id = "bell_icon" class="fa-solid fa-bell"></i>
        </button>
        <button onclick = "window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">
            <img class="user" src="./imgs/user.png" alt="Ícone de usuário">

        </button>

    </div>
</div>
<hr>